.search {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: none;
  outline: none;
  color: white;

  &::placeholder {
    color: white;
  }
}
